<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B1AutomaticMailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <B1AutomaticMailSender.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="HANA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value>20</value>
            </setting>
        </B1AutomaticMailSender.Properties.Settings>
    </userSettings>
</configuration>